---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
---

<BaseLayout>
    <!-- main -->
    <main>
                <!-- Projects -->
                <section class="portfolio__projects portfolio--mt-200" id="projects">
                    <div class="portfolio__banner">
                        <h2 class="portfolio__subtitle" data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-sine">Projects</h2>
                    </div>
                    <div class="portfolio__container">
                        <div class="portfolio__gallery">
                            <div class="portfolio__image-box">
                                <img src="/img/sever-conexion.jpg" alt="project photo 1">
                                <div class="portfolio__overlay">
                                    <div class="portfolio__details">
                                        <h3 class="portfolio__info-title">
                                            <a href="#">Project #1</a>
                                        </h3>
                                        <span class="portfolio__info-tex">
                                            <a href="#">category</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__image-box">
                                <img src="/img/travel-sun.jpg" alt="project photo 2">
                                <div class="portfolio__overlay">
                                    <div class="portfolio__details">
                                        <h3 class="portfolio__info-title">
                                            <a href="#">Project #2</a>
                                        </h3>
                                        <span class="portfolio__info-tex">
                                            <a href="#">category</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__image-box">
                                <img src="/img/color-code.jpg" alt="project photo 3">
                                <div class="portfolio__overlay">
                                    <div class="portfolio__details">
                                        <h3 class="portfolio__info-title">
                                            <a href="#">Project #3</a>
                                        </h3>
                                        <span class="portfolio__info-tex">
                                            <a href="#">category</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__image-box">
                                <img src="/img/orange-street.jpg" alt="project photo 4">
                                <div class="portfolio__overlay">
                                    <div class="portfolio__details">
                                        <h3 class="portfolio__info-title">
                                            <a href="#">Project #4</a>
                                        </h3>
                                        <span class="portfolio__info-tex">
                                            <a href="#">category</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__image-box">
                                <img src="/img/phone-app.jpg" alt="project photo 5">
                                <div class="portfolio__overlay">
                                    <div class="portfolio__details">
                                        <h3 class="portfolio__info-title">
                                            <a href="#">Project #5</a>
                                        </h3>
                                        <span class="portfolio__info-tex">
                                            <a href="#">category</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio__image-box">
                                <img src="/img/work-space.jpg" alt="project photo 6">
                                <div class="portfolio__overlay">
                                    <div class="portfolio__details">
                                        <h3 class="portfolio__info-title">
                                            <a href="#">Project #6</a>
                                        </h3>
                                        <span class="portfolio__info-tex">
                                            <a href="#">category</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Portfolio -->
        <!-- About me -->
        <section class="portfolio__about portfolio--mt-200" id="about">
            <div class="portfolio__container">
                <article class="portfolio__grid">
                    <div class="portfolio__user-img-box">
                        <img src="/img/profile-photo.jpg" alt="profile">
                    </div>
                    <div class="portfolio__info portfolio--ml-122">
                        <div class="portfolio__info-box">
                            <div data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-sine">
                                <h2 class="portfolio__subtitle">About me</h2>
                                <p class="portfolio__text">I'm a full-stack developer with a focus on <span>PHP</span> and the <span>Laravel</span> framework for backend development. I have a strong foundation in web development, including expertise in front-end technologies like <span>HTML</span>, <span>CSS</span>, and <span>JavaScript</span>.</p>
                                <p class="portfolio__text">I'm passionate about <span>creating intuitive user interfaces</span> and building robust backend systems to deliver seamless experiences. With my knowledge of Laravel, I aim to develop efficient and scalable web applications that meet modern industry standards.</p>
                                <p class="portfolio__text">I'm excited to leverage my skills and continue <span>growing</span> as a developer in both front-end and back-end domains.</p>
                            </div>
                        </div>
                    </div>                    
                </article>
            </div>
        </section>
        <!-- About me -->
    </main>
    <!-- main -->

</BaseLayout>
