<header class="portfolio__header">
    <div class="portfolio__container">
        <nav class="portfolio__nav">
            <ul class="portfolio__list">
                <li class="portfolio__link"><a href="#skills">Skills</a></li>
                <li class="portfolio__link"><a href="#about">About</a></li>
                <li class="portfolio__link"><a href="#">Home</a></li>
                <li class="portfolio__link"><a href="#projects">Projects</a></li>
                <li class="portfolio__link"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>