---
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro'
import Footer from '../components/Footer.astro';

import '../styles/normalize.css';
import '../styles/style.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="portfolio">
		<!-- header -->
			<Header/>
		<!-- header -->
		<!-- main -->
			<main>
				<!-- banner -->
					<Banner/>
				<!-- banner -->
					<slot/>
			</main>
		<!-- main -->

		<!-- Footer -->
			<Footer/>
		<!-- Footer -->
	</body>
</html>
